*

!/.github/
!/custom/
!/patches/
!/scripts/

!/.github/FUNDING.yml
!/patches/*.patch
!/scripts/*.sh

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.gitlab-ci.yml
!/.hadolint.yml
!/.markdownlint.yml
!/build.Dockerfile
!/CODE_OF_CONDUCT.md
!/LICENSE
!/README.md
!/sample..env
!/sample.docker-compose.yml
!/sample.Dockerfile
!/SECURITY.md

!.keep
