IMAGE=ubuntu:jammy

# [LAPACK/]BLAS library to link R against
# default: liblapack-dev which depends on libblas-dev
# other: libatlas-base-dev, libopenblas-dev
BLAS=

# R version and configuration arguments
R_VERSION=4.3.1
CONFIG_ARGS="--enable-R-shlib
  --enable-memory-profiling
  --with-readline
  --with-blas
  --with-lapack
  --with-tcltk
  --with-recommended-packages"

# Installation prefix
# default: /opt/local
# other: /opt, /usr/local
PREFIX=
# Subdirectory
# default: 
# other: /R/${R_VERSION}
SUBDIR=

# Execution mode
# default: install
# other: install-strip, uninstall
MODE=
